---
console.log("javascript");
---

<header class="header">
  <div class="logo w-10 h-10 rounded-lg p-5"></div>
  <div class="banner py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-5xl traking-tight font-extrabold text-white">
        Álvaro Martín Huerta
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        All you need to know about me, is here.
      </p>
    </div>
  </div>
</header>
